<div class="container">
  <div class="row">
	  <div class="top-text">

<div>
          <%= flash[:notice]%>
        </div>

<body>
  <header>
    <span>bookers</span>
  </header>
  
  <main>
    <h1>welcome to<i class="fas fa-book"></i> bookers!!</h1>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
      
      
     <div>
       <%= link_to "Log in", new_user_session_path %>
	   </div>
	   
	   <div>
	     <%= link_to "Sign up", new_user_registration_path %>
     </div>

  </main>
</body>
</div>
</div>
</div>